h1{
	color : red;
}

h2{
	color : brown;
}

h3{
	color : grey;
}

p{
	color : grey;
}

.textbleu{
	color : blue;
}

#moi{
	color : green;
}

.un{
	text.decoration : underline;	
}

.greenbutton{
	background-color : #00CC00 !important;
}
.redbutton{
    background-color : #D00000  !important;
}
.yellowbutton{
    background-color : #FFCC00 !important;
}
.orangebutton{
    background-color : #FF6600 !important;
}
.bigbutton{
    font-size : 50px !important;
}
